body {
  font-family: sans-serif;
  margin: 0 !important;
}
.container {
  padding: 3em;
}

.menu {
  background-color: black;
}

.right {
  float:right;
}

.whitetext {
  color: white;
}

.orangetext {
  color: orange;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
  color:teal;
}